In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

import os
import requests as re
import json

import lib_sean

In [2]:
#  dir setting
root_dir = '\\'.join( os.getcwd().split('\\')[:-1])
data_dir = root_dir + '\\' + 'Data\\'

##### EDA - original set

In [3]:
df = pd.read_excel(data_dir + 'property_data.xlsx')
df_rev_geocoding = pd.read_excel(data_dir + 'rev_geocoding.xlsx')

In [4]:
df = lib_sean.clean_data(df, df_rev_geocoding)

In [5]:
df.isna().sum()

ID                         0
NAME                       0
HOST_ID                    0
HOST_NAME                406
NYC_BOROUGH               24
NEIGHBORHOOD               0
LATITUDE                   0
LONGITUDE                  0
INSTANT_BOOKABLE           0
CANCELLATION_POLICY       74
ROOM_TYPE                  0
CONSTRUCTION_YEAR          0
PRICE                      0
SERVICE_FEE                0
MINIMUM_NIGHTS           408
NUMBER_OF_REVIEWS          0
LAST_REVIEW                0
REVIEWS_PER_MONTH          0
HOUSE_RULES            52123
coordinate                 0
full_address               0
zipcode                  312
property_name              0
dtype: int64

In [14]:
# import googlemaps

# gm_obj = googlemaps.Client(key=r'AIzaSyAp2SQpRE8VGx_84I3qAtBt3NvShYjGzJM')

# list_zip = []
# for i in coord_missing_zip.values:
#     val = str(i)[1:-1].split(',')
#     lng = val[0]
#     lat = val[1].lstrip()
#     val_tuple = (lng, lat)
#     zipcode = gm_obj.reverse_geocode(val_tuple)
#     print(zipcode[0]['formatted_address'])
#     break

M43C+JF New York, NY, USA

In [8]:
# df.REVIEWS_PER_MONTH.describe()
# sns.boxplot(y = df.REVIEWS_PER_MONTH)

In [6]:
df_rev_geocoding.apply(axis=0, func= lambda c : c.isna().sum())

coordinate         0
full_address       0
zipcode          193
property_name      0
dtype: int64

In [7]:
df.apply(lambda c: c.isna().sum()).sort_values(ascending = False)

HOUSE_RULES            52123
MINIMUM_NIGHTS           408
HOST_NAME                406
zipcode                  312
CANCELLATION_POLICY       74
NYC_BOROUGH               24
ID                         0
SERVICE_FEE                0
full_address               0
coordinate                 0
REVIEWS_PER_MONTH          0
LAST_REVIEW                0
NUMBER_OF_REVIEWS          0
CONSTRUCTION_YEAR          0
PRICE                      0
NAME                       0
ROOM_TYPE                  0
INSTANT_BOOKABLE           0
LONGITUDE                  0
LATITUDE                   0
NEIGHBORHOOD               0
HOST_ID                    0
property_name              0
dtype: int64

In [9]:
df_cleaned = lib_sean.clean_data(df, df_rev_geocoding)

In [10]:
print(df_cleaned.shape)
df_cleaned.columns

(102575, 26)

Index(['ID', 'NAME', 'HOST_ID', 'HOST_NAME', 'NYC_BOROUGH', 'NEIGHBORHOOD',
       'LATITUDE', 'LONGITUDE', 'INSTANT_BOOKABLE', 'CANCELLATION_POLICY',
       'ROOM_TYPE', 'CONSTRUCTION_YEAR', 'PRICE', 'SERVICE_FEE',
       'MINIMUM_NIGHTS', 'NUMBER_OF_REVIEWS', 'LAST_REVIEW',
       'REVIEWS_PER_MONTH', 'HOUSE_RULES', 'coordinate', 'full_address_x',
       'zipcode_x', 'property_name_x', 'full_address_y', 'zipcode_y',
       'property_name_y'],
      dtype='object')

##### EDA - external set
- the newyorkstate_data.json is invalid cuz it contains only data about the Albany  area
- the cityofnewyork data is invalid cuz it contains only data about the Brooklyn area.

In [16]:
# the full market value could be used for estimating property price
df_nys = pd.read_json(data_dir + 'newyorkstate_data.json')

In [17]:
df_nys.columns[:10]

Index(['roll_year', 'county_name', 'municipality_code', 'municipality_name',
       'school_district_code', 'school_district_name', 'swis_code',
       'tax_class', 'roll_section', 'property_class'],
      dtype='object')

In [21]:
df_nys.municipality_name.value_counts()

Albany    1000
Name: municipality_name, dtype: int64

In [27]:
df_cny = pd.read_json(data_dir + 'cityofnewyork_data.json')
print(df_cny.shape)
print(df_cny.columns)

(1000, 22)
Index(['parid', 'boro', 'block', 'lot', 'rectype', 'year', 'secvol',
       'pymktland', 'pymkttot', 'pyactland', 'pyacttot', 'pyactextot',
       'pytrnland', 'pytrntot', 'pytrnextot', 'pytxbtot', 'pytxbextot',
       'pytaxclass', 'tenmktland', 'tenmkttot', 'tenactland', 'tenacttot'],
      dtype='object')

In [25]:
df_cny.boro.value_counts()

3    1000
Name: boro, dtype: int64

In [29]:
df_listing = pd.read_csv(data_dir + 'listings.csv')

C:\Users\Chaconne\AppData\Local\Temp\ipykernel_12116\1734310201.py:1: DtypeWarning: Columns (68) have mixed types. Specify dtype option on import or set low_memory=False.
  df_listing = pd.read_csv(data_dir + 'listings.csv')

In [30]:
df_listing.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [33]:
df_l2 = pd.read_csv(data_dir + 'listings.csv')

C:\Users\Chaconne\AppData\Local\Temp\ipykernel_12116\3776239979.py:1: DtypeWarning: Columns (68) have mixed types. Specify dtype option on import or set low_memory=False.
  df_l2 = pd.read_csv(data_dir + 'listings.csv')

In [35]:
all(df_l2.columns == df_listing.columns)

True

In [36]:
df_review = pd.read_csv(data_dir + 'reviews.csv')

In [37]:
df_review.columns

Index(['listing_id', 'date'], dtype='object')

In [39]:
df_calendar = pd.read_csv(data_dir + 'calendar.csv')

In [40]:
df_calendar.columns

Index(['listing_id', 'date', 'available', 'price', 'adjusted_price',
       'minimum_nights', 'maximum_nights'],
      dtype='object')

In [41]:
df_calendar.head(5)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2595,2023-03-07,t,$150.00,$150.00,30.0,1125.0
1,2595,2023-03-08,t,$150.00,$150.00,30.0,1125.0
2,2595,2023-03-09,t,$150.00,$150.00,30.0,1125.0
3,2595,2023-03-10,f,$150.00,$150.00,30.0,1125.0
4,2595,2023-03-11,f,$150.00,$150.00,30.0,1125.0

In [27]:
df_cny = pd.read_json(data_dir + 'cityofnewyork_data.json')
print(df_cny.shape)
print(df_cny.columns)

(1000, 22)
Index(['parid', 'boro', 'block', 'lot', 'rectype', 'year', 'secvol',
       'pymktland', 'pymkttot', 'pyactland', 'pyacttot', 'pyactextot',
       'pytrnland', 'pytrntot', 'pytrnextot', 'pytxbtot', 'pytxbextot',
       'pytaxclass', 'tenmktland', 'tenmkttot', 'tenactland', 'tenacttot'],
      dtype='object')

In [25]:
df_cny.boro.value_counts()

3    1000
Name: boro, dtype: int64

##### EDA - Geographical set

In [43]:
df_tour_site = pd.read_excel(data_dir + 'New_York_Tourist_Locations.xlsx')

C:\Users\Chaconne\AppData\Roaming\Python\Python310\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [45]:
df_tour_site.head(5)

,Tourist_Spot,Address,Zipcode
0,47th Street - The Diamond District,"47th St. betw. Fifth & Sixth Aves. Manhattan, ...",10036
1,9/11 Memorial & Museum,World Trade Center (museum: 180 Greenwich St.)...,10007
2,Abyssinian Baptist Church,"132 Odell Clark Place New York, NY 10030, Harlem",10030
3,Alice Austen House Museum,"2 Hylan Blvd. Staten Island, NY 10305, Staten ...",10305
4,Alice Tully Hall,"1941 Broadway Manhattan, NY 10023, Upper West ...",10023

In [51]:
df_sale = pd.read_csv(data_dir + 'nyc-rolling-sales.csv').iloc[:, 1:] # drop index column

In [52]:
df_sale.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [10]:
df_cny_sale = pd.read_csv(data_dir + 'DOF__Summary_of_Neighborhood_Sales_by_Neighborhood_Citywide_by_Borough.csv')

In [11]:
df_cny_sale.shape

(7180, 9)

In [14]:
df_cny_sale.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'TYPE OF HOME', 'NUMBER OF SALES',
       'LOWEST SALE PRICE', 'AVERAGE SALE PRICE', 'MEDIAN SALE PRICE',
       'HIGHEST SALE PRICE', 'YEAR'],
      dtype='object')

In [12]:
df_cny_sale.NEIGHBORHOOD.value_counts()

SUNNYSIDE                   67
BOERUM HILL                 36
CLINTON HILL                36
FLATBUSH-NORTH              36
FLATBUSH-LEFFERTS GARDEN    36
                            ..
FLUSHING MEADOW PARK         2
CHINATOWN                    1
FLATIRON                     1
JAVITS CENTER                1
FASHION                      1
Name: NEIGHBORHOOD, Length: 249, dtype: int64