In [100]:
import pandas as pd
import numpy as np
import seaborn as sns

import os
import requests
import json
import regex as re

import lib_sean

In [2]:
#  dir setting
root_dir = '\\'.join( os.getcwd().split('\\')[:-1])
data_dir = root_dir + '\\' + 'Data\\'

##### EDA - original set

In [3]:
df = pd.read_excel(data_dir + 'property_data.xlsx')
df_rev_geocoding = pd.read_excel(data_dir + 'rev_geocoding.xlsx')

In [4]:
df = lib_sean.clean_data(df, df_rev_geocoding)

In [5]:
df.isna().sum()

ID                         0
NAME                       0
HOST_ID                    0
HOST_NAME                406
NYC_BOROUGH               24
NEIGHBORHOOD               0
LATITUDE                   0
LONGITUDE                  0
INSTANT_BOOKABLE           0
CANCELLATION_POLICY       74
ROOM_TYPE                  0
CONSTRUCTION_YEAR          0
PRICE                      0
SERVICE_FEE                0
MINIMUM_NIGHTS           408
NUMBER_OF_REVIEWS          0
LAST_REVIEW                0
REVIEWS_PER_MONTH          0
HOUSE_RULES            52123
coordinate                 0
full_address               0
zipcode                  312
property_name              0
dtype: int64

In [6]:
# import googlemaps

# gm_obj = googlemaps.Client(key=r'AIzaSyAp2SQpRE8VGx_84I3qAtBt3NvShYjGzJM')

# list_zip = []
# for i in coord_missing_zip.values:
#     val = str(i)[1:-1].split(',')
#     lng = val[0]
#     lat = val[1].lstrip()
#     val_tuple = (lng, lat)
#     zipcode = gm_obj.reverse_geocode(val_tuple)
#     print(zipcode[0]['formatted_address'])
#     break

- Export cleaned main dataset for visualization usage

In [7]:
df.to_csv(data_dir + 'property_data_cleaned.csv')

##### EDA - Geographical set
- tour site data
    - looks good
    - can perform geographical analysis and visualization using this dataset

In [9]:
df_tour_site = pd.read_excel(data_dir + 'New_York_Tourist_Locations.xlsx')

C:\Users\Chaconne\AppData\Roaming\Python\Python310\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [10]:
df_tour_site.head(5)

,Tourist_Spot,Address,Zipcode
0,47th Street - The Diamond District,"47th St. betw. Fifth & Sixth Aves. Manhattan, ...",10036
1,9/11 Memorial & Museum,World Trade Center (museum: 180 Greenwich St.)...,10007
2,Abyssinian Baptist Church,"132 Odell Clark Place New York, NY 10030, Harlem",10030
3,Alice Austen House Museum,"2 Hylan Blvd. Staten Island, NY 10305, Staten ...",10305
4,Alice Tully Hall,"1941 Broadway Manhattan, NY 10023, Upper West ...",10023

- Dataset: DOF Summary of Neighborhood Sales by Neighborhood Citywide by Borough
    - Records sales of homes
    - rows are kind of few
    - many rows are out dated (records from around 10 years ago)
    - most recent records were from 2021. The dataset appears obsolute

In [13]:
df_cny_sale = pd.read_csv(data_dir + 'DOF__Summary_of_Neighborhood_Sales_by_Neighborhood_Citywide_by_Borough.csv')

In [14]:
df_cny_sale.shape

(7180, 9)

In [15]:
df_cny_sale.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'TYPE OF HOME', 'NUMBER OF SALES',
       'LOWEST SALE PRICE', 'AVERAGE SALE PRICE', 'MEDIAN SALE PRICE',
       'HIGHEST SALE PRICE', 'YEAR'],
      dtype='object')

In [74]:
df_cny_sale.NEIGHBORHOOD.value_counts()[:5]

SUNNYSIDE                   67
BOERUM HILL                 36
CLINTON HILL                36
FLATBUSH-NORTH              36
FLATBUSH-LEFFERTS GARDEN    36
Name: NEIGHBORHOOD, dtype: int64

In [75]:
df_cny_sale.YEAR.value_counts()

2021    615
2013    611
2015    607
2014    605
2016    604
2018    602
2019    598
2017    594
2012    592
2010    587
2020    586
2011    579
Name: YEAR, dtype: int64

- rolling sale dataset from https://www.nyc.gov/site/finance/taxes/property-rolling-sales-data.page
    - appears to be a suitable one so far

In [41]:
df_rolling_sale = pd.read_csv(data_dir + 'nyc-rolling-sales.csv').iloc[:, 1:]

In [42]:
print(df_rolling_sale.shape)
df_rolling_sale.columns

(84548, 21)

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [79]:
df_rolling_sale['SALE DATE'].value_counts().sort_index(ascending = False)

2017-08-31 00:00:00     90
2017-08-30 00:00:00    125
2017-08-29 00:00:00    143
2017-08-28 00:00:00    151
2017-08-27 00:00:00      3
                      ...
2016-09-05 00:00:00      6
2016-09-04 00:00:00      3
2016-09-03 00:00:00      8
2016-09-02 00:00:00    184
2016-09-01 00:00:00    395
Name: SALE DATE, Length: 364, dtype: int64

In [76]:
# conatains 5 borough
print(df_rolling_sale['SALE PRICE'].value_counts())

[ -  ]       14561
0.0          10228
10.0           766
450000.0       427
550000.0       416
             ...
191100.0         1
1542499.0        1
782990.0         1
2784765.0        1
69300.0          1
Name: SALE PRICE, Length: 10008, dtype: int64

- original data in <b>sale price</b> column is of object type and contains illegal characters, should be cleaned

In [56]:
def clean_rolling_sale_price(obj:object, on_err:float) ->float:

    try:
        res = float(obj)
        return res
    except:
        return on_err

# mode_price = valid_price.mode()
# df_rolling_sale['SALE PRICE'] = df_rolling_sale['SALE PRICE'].map(lambda v : clean_rolling_sale_price(v, mode_price))

In [57]:
# df_rolling_sale['SALE PRICE'].plot(kind = 'box')
# print(df_rolling_sale['SALE PRICE'].min(), df_rolling_sale['SALE PRICE'].max())

In [59]:
# df_full = pd.read_csv(data_dir + 'Property_Valuation_and_Assessment_Data_Tax_Classes_1_2_3_4.csv')

In [60]:
# df_full.shape

In [61]:
# df_full.head()

In [62]:
# df_full.columns

In [63]:
# df_full.YEAR.value_counts()

In [ ]:
# df_full_2023 = df_full[df_full.YEAR == 2023]
# df_full_2023.to_csv(data_dir+ 'nyc_property_assessment_data_2023.csv')

- Dataset: nyc property assessment data
    - comprehensive and with sufficient rows.
    - some columns' meaning are not yet understood.

In [67]:
df_assess_2023 = pd.read_csv(data_dir + 'nyc_property_assessment_data_2023.csv').drop(columns='Unnamed: 0')

C:\Users\Chaconne\AppData\Local\Temp\ipykernel_14252\244126032.py:1: DtypeWarning: Columns (1,5,6,9,10,23,34,67,71,74,75,76,88,93,100,101,105,109,111,133) have mixed types. Specify dtype option on import or set low_memory=False.
  df_assess_2023 = pd.read_csv(data_dir + 'nyc_property_assessment_data_2023.csv').drop(columns='Unnamed: 0')

In [68]:
df_assess_2023.shape

(1155828, 139)

In [69]:
df_assess_2023.columns

Index(['PARID', 'BORO', 'BLOCK', 'LOT', 'EASEMENT', 'SUBIDENT-REUC', 'RECTYPE',
       'YEAR', 'IDENT', 'SUBIDENT',
       ...
       'STORAGE_AREA_GROSS', 'GARAGE_AREA', 'OTHER_AREA_GROSS',
       'REUC_DESCRIPTION', 'EXTRACRDT', 'PYTAXFLAG', 'TENTAXFLAG',
       'CBNTAXFLAG', 'FINTAXFLAG', 'CURTAXFLAG'],
      dtype='object', length=139)

In [73]:
df_assess_2023.BLD_STORY.value_counts()

2.00      537526
3.00      147660
0.00      119508
1.00       89363
4.00       46244
           ...
1.15           1
13.50          1
102.00         1
706.00         1
114.00         1
Name: BLD_STORY, Length: 136, dtype: int64

- Borough-wise sales data from https://www.nyc.gov/site/finance/taxes/property-rolling-sales-data.page

In [88]:
df_bkl = pd.read_excel(data_dir + 'rollingsales_brooklyn.xlsx')
df_brn = pd.read_excel(data_dir + 'rollingsales_bronx.xlsx')
df_mht = pd.read_excel(data_dir + 'rollingsales_manhattan.xlsx')
df_qns = pd.read_excel(data_dir + 'rollingsales_queens.xlsx')
df_sti = pd.read_excel(data_dir + 'rollingsales_statenisland.xlsx')

df_list = [df_bkl, df_brn, df_mht, df_qns, df_sti]

df_rs = pd.concat(df_list)

In [89]:
df_rs.shape

(84391, 21)

In [92]:
# check if concat is performed correctly 
col_same = True
comparer = df_list[0]
for i in range(1,5):
    col_same = col_same and all(comparer.columns == df_list[i].columns)
col_same

True

In [105]:
#df_rs.to_csv(data_dir + 'nyc_rolling_sales_merged.csv')

In [96]:
def col_renamer(name:str) -> str:
    name = name.lower()
    name = name.replace(' ', '_')
    return name

df_rs.rename(columns= col_renamer, inplace=True)
df_rs.columns

Index(['borough', 'neighborhood', 'building_class_category',
       'tax_class_at_present', 'block', 'lot', 'easement',
       'building_class_at_present', 'address', 'apartment_number', 'zip_code',
       'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'sale_price', 'sale_date'],
      dtype='object')

- the data contains sales of differet building categories. Should drop categories that are not for rental business. For example, warehouse and office buildings.

In [98]:
df_rs.building_class_category.value_counts()

01 ONE FAMILY DWELLINGS                       17173
02 TWO FAMILY DWELLINGS                       14993
13 CONDOS - ELEVATOR APARTMENTS               14382
10 COOPS - ELEVATOR APARTMENTS                14265
03 THREE FAMILY DWELLINGS                      4226
07 RENTALS - WALKUP APARTMENTS                 3004
09 COOPS - WALKUP APARTMENTS                   2778
15 CONDOS - 2-10 UNIT RESIDENTIAL              1604
04 TAX CLASS 1 CONDOS                          1543
44 CONDO PARKING                               1489
17 CONDO COOPS                                 1331
12 CONDOS - WALKUP APARTMENTS                   979
05 TAX CLASS 1 VACANT LAND                      931
22 STORE BUILDINGS                              790
14 RENTALS - 4-10 UNIT                          640
08 RENTALS - ELEVATOR APARTMENTS                505
47 CONDO NON-BUSINESS STORAGE                   465
29 COMMERCIAL GARAGES                           463
43 CONDO OFFICE BUILDINGS                       340
11 SPECIAL CONDO BILLING LOTS                   331
21 OFFICE BUILDINGS                             300
30 WAREHOUSES                                   284
31 COMMERCIAL VACANT LAND                       257
27 FACTORIES                                    187
46 CONDO STORE BUILDINGS                        153
06 TAX CLASS 1 - OTHER                          138
16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT      130
28 COMMERCIAL CONDOS                            129
41 TAX CLASS 4 - OTHER                          121
37 RELIGIOUS FACILITIES                          88
45 CONDO HOTELS                                  71
26 OTHER HOTELS                                  58
33 EDUCATIONAL FACILITIES                        39
48 CONDO TERRACES/GARDENS/CABANAS                38
49 CONDO WAREHOUSES/FACTORY/INDUS                32
32 HOSPITAL AND HEALTH FACILITIES                27
36 OUTDOOR RECREATIONAL FACILITIES               26
35 INDOOR PUBLIC AND CULTURAL FACILITIES         25
38 ASYLUMS AND HOMES                             17
42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC        16
25 LUXURY HOTELS                                 13
34 THEATRES                                       6
39 TRANSPORTATION FACILITIES                      2
40 SELECTED GOVERNMENTAL FACILITIES               2
Name: building_class_category, dtype: int64

In [104]:
def is_non_commercial_building_category(category:str) -> bool:
    pat_commercial = r'LAND|WAREHOUSE|THEATRES|TRANSPORTATION|GOVERNMENTAL|STORE|FACTORIES|OFFICE|COMMERCIAL|PARKING|RELIGIOUS|ASYLUMS|FACILITIES'

    non_commercial = not re.search(pattern=pat_commercial, string=category)
    return non_commercial


nc_bc = filter(is_non_commercial_building_category, np.unique(df_rs.building_class_category.values))
list(nc_bc)

['01 ONE FAMILY DWELLINGS',
 '02 TWO FAMILY DWELLINGS',
 '03 THREE FAMILY DWELLINGS',
 '04 TAX CLASS 1 CONDOS',
 '06 TAX CLASS 1 - OTHER',
 '07 RENTALS - WALKUP APARTMENTS',
 '08 RENTALS - ELEVATOR APARTMENTS',
 '09 COOPS - WALKUP APARTMENTS',
 '10 COOPS - ELEVATOR APARTMENTS',
 '11 SPECIAL CONDO BILLING LOTS',
 '12 CONDOS - WALKUP APARTMENTS',
 '13 CONDOS - ELEVATOR APARTMENTS',
 '14 RENTALS - 4-10 UNIT',
 '15 CONDOS - 2-10 UNIT RESIDENTIAL',
 '17 CONDO COOPS',
 '25 LUXURY HOTELS',
 '26 OTHER HOTELS',
 '41 TAX CLASS 4 - OTHER',
 '42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC',
 '45 CONDO HOTELS',
 '47 CONDO NON-BUSINESS STORAGE',
 '48 CONDO TERRACES/GARDENS/CABANAS']

In [99]:
df_rs.groupby(by =[ 'neighborhood', 'building_class_category']).agg(
    # column records the time frame of observed sales 
    time_range = pd.NamedAgg(column='sale_date', aggfunc= lambda col: (col.min(), col.max())),

    avg_price = pd.NamedAgg(column='sale_price', aggfunc= 'mean'),
)

KeyError: "None of [Index(['01 ONE FAMILY DWELLINGS', '01 ONE FAMILY DWELLINGS',\n       '01 ONE FAMILY DWELLINGS', '01 ONE FAMILY DWELLINGS',\n       '01 ONE FAMILY DWELLINGS', '01 ONE FAMILY DWELLINGS',\n       '01 ONE FAMILY DWELLINGS', '01 ONE FAMILY DWELLINGS',\n       '01 ONE FAMILY DWELLINGS', '01 ONE FAMILY DWELLINGS',\n       ...\n       '02 TWO FAMILY DWELLINGS', '02 TWO FAMILY DWELLINGS',\n       '02 TWO FAMILY DWELLINGS', '05 TAX CLASS 1 VACANT LAND',\n       '05 TAX CLASS 1 VACANT LAND', '05 TAX CLASS 1 VACANT LAND',\n       '05 TAX CLASS 1 VACANT LAND', '05 TAX CLASS 1 VACANT LAND',\n       '21 OFFICE BUILDINGS', '22 STORE BUILDINGS'],\n      dtype='object', length=84391)] are in the [columns]"